/* Fonts */
@import url('https://fonts.googleapis.com/css?family=|Lato:100,300,400,700,900');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #fff;
  color: #000;
  font-family: 'Lato', 'Helvetica', sans-serif;
}

/* Title */

.title {
  position: absolute;
  width: 33%;
  padding: 20px;
}

.title p {
  font-size: 18px;
  font-weight: 300;
}

.title span {
  color: #f45942;
}

/* Snowflake */

.snowflake-container {
  position: absolute;
  left: 60px;
  top: 175px;
  width: 300px;
  height: 300px;
  transition: transform 2s;
}

.snowflake-container:hover {
  transform: rotate(360deg);
}

.snowflake-outer {
  left: 100px;
  top: 100px;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 86.6px solid #5bd3ff;
	position: absolute;
}

.snowflake-outer:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86.6px solid #5bd3ff;
	position: absolute;
	content: "";
	top: 30px;
	left: -50px;
}

.snowflake-inner {
  left: 107px;
  top: 109px;
	width: 0;
	height: 0;
	border-left: 42.5px solid transparent;
	border-right: 42.5px solid transparent;
	border-bottom: 73.6px solid white;
	position: absolute;
  z-index: 1;
}

.snowflake-inner:after {
	width: 0;
	height: 0;
	border-left: 42.5px solid transparent;
	border-right: 42.5px solid transparent;
	border-top: 73.6px solid white;
	position: absolute;
	content: "";
	top: 25px;
	left: -42.5px;
}

.line {
  position: absolute;
  width: 5px;
  height: 100px;
  background: #5bd3ff;
}

.line-1 {
  left: 150px;
  transform: translateX(-50%);
  top: 30px;
}

.line-2 {
  left: 150px;
  transform: translateX(-50%);
  top: 187px;
}

.line-3 {
  transform: rotate(60deg);
  left: 215px;
  top: 70px;
}

.line-4 {
  transform: rotate(120deg);
  left: 215px;
  top: 147px;
}

.line-5 {
  transform: rotate(240deg);
  left: 80px;
  top: 147px;
}

.line-6 {
  transform: rotate(300deg);
  left: 80px;
  top: 70px;
}

.outcrop {
  position: absolute;
  width: 5px;
  height: 25px;
  background: #5bd3ff;
}
.outcrop-1 {
  transform: rotate(45deg);
  top: 50px;
  left: 155px;
}

.outcrop-2 {
  transform: rotate(315deg);
  top: 50px;
  left: 140px;
}

.outcrop-3 {
  transform: rotate(105deg);
  top: 105px;
  left: 235px;
}

.outcrop-4 {
  transform: rotate(15deg);
  top: 90px;
  left: 228px;
}

.outcrop-5 {
  transform: rotate(75deg);
  top: 185px;
  left: 235px;
}

.outcrop-6 {
  transform: rotate(165deg);
  top: 200px;
  left: 225px;
}

.outcrop-7 {
  transform: rotate(135deg);
  top: 245px;
  left: 155px;
}

.outcrop-8 {
  transform: rotate(225deg);
  top: 245px;
  left: 140px;
}

.outcrop-9 {
  transform: rotate(195deg);
  top: 200px;
  left: 70px;
}

.outcrop-10 {
  transform: rotate(285deg);
  top: 185px;
  left: 60px;
}

.outcrop-11 {
  transform: rotate(345deg);
  top: 90px;
  left: 70px;
}

.outcrop-12 {
  transform: rotate(255deg);
  top: 108px;
  left: 62px;
}

/* Leaf */

.leaf-container {
  position: absolute;
  left: 475px;
  top: 175px;
  width: 300px;
  height: 300px;
}

.leaf-container:hover .leaf {
  background: #e2871f;
}

.leaf-container:hover .stem-1 {
  border-color: #4f2900;
}

.leaf-container:hover .stem-2 {
  border-color: #4f2900;
  border-left: 10px solid transparent;
}

.leaf-container:hover .offshoot {
  border-color: #4f2900;
}

.leaf {
  position: absolute;
  background: #A0DE21;
  transition: background 2s;
}

.leaf-1 {
  top: 40px;
  left: 75px;
  width: 150px; height: 150px;
  border-radius: 150px 0px;
  transform: rotate(315deg);
}

.leaf-2 {
  top: 80px;
  left: 55px;
  width: 100px; height: 150px;
  border-radius: 150px 0px;
  transform: rotate(280deg);
}

.leaf-3 {
  top: 70px;
  left: 155px;
  width: 100px; height: 150px;
  border-radius: 150px 0px;
  transform: rotate(30deg);
}

.leaf-4 {
  top: 140px;
  left: 45px;
  width: 100px; height: 150px;
  border-radius: 150px 0px;
  transform: rotate(240deg);
}

.leaf-5 {
  top: 140px;
  left: 165px;
  width: 100px; height: 150px;
  border-radius: 150px 0px;
  transform: rotate(240deg);
}

.stem {
  position: absolute;
  border-radius: 50%;
}

.stem-1 {
  height: 160px;
  width: 20px;
  border-right: 6px solid;
  top: 80px;
  left: 137px;
  border-color: green;
  transition: border-color 2s;
}

.offshoot {
  height: 10px;
  width: 75px;
  border-bottom: 3px solid;
  border-color: green;
  transition: border-color 2s;
}

.offshoot-1 {
  top: 140px;
  left: 153px;
  transform: rotate(340deg);
}

.offshoot-2 {
  top: 190px;
  left: 88px;
  transform: rotate(10deg);
}

.stem-2 {
	width: 100px;
	height: 50px;
	border-bottom: 10px solid;
  border-color: green;
	border-left: 10px solid transparent;
  transform: rotate(300deg);
  top: 250px;
  left: 65px;
  transition: border-color 2s;
}

/* Raindrop */

.rain-container {
  position: absolute;
  width: 300px;
  height: 100vh;
  right: 100px;
  overflow: hidden;
}

.raindrop {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: -150px;
  border-radius: 0 50% 50% 50%;
  border: 3px solid;
  border-color: teal;
  transform: rotate(45deg);
  margin: 50px 20px 100px 20px;
  background: blue;
  animation: raindrop 10s infinite linear;
  transition: border-color 1s, background 1s;
}

.rain-container:hover .raindrop {
  border-color: blue;
  background: teal;
}

.one {
animation-delay: 1s;
}

.two {
animation-delay: 2s;
}

.three {
animation-delay: 3s;
}

.four {
animation-delay: 4s;
}

.five {
animation-delay: 5s;
}

.six {
animation-delay: 6s;
}

.seven {
animation-delay: 7s;
}

.eight {
animation-delay: 8s;
}

.nine {
animation-delay: 9s;
}


.mid {
  left: 100px;
  top: -130px;
}

.right {
  left: 200px;
  top: -110px;
}

@-webkit-keyframes raindrop {
  0% {
    transform: translate(0, 0px) rotate(45deg);
  }
  75% {
    transform: translate(0, 600px) rotate(45deg);
  }
  100% {
  transform: translate(0, 800px) rotate(45deg);
  }
}
